@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Open Sans',Arial, sans-serif;
$font-secondary: 'Lora',Georgia, serif;
$font-tertiary: 'Great Vibes', cursive;

$white: #fff;
$black: #000000;
$darken: #1b1919;

$primary: #ffd615;
$secondary: #033fff;



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}


html {
	// overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $white;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	color: lighten($black,60%);
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none;
		color: $primary;
		outline: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: rgba(0,0,0,.9);
	font-weight: 400;
	font-family: $font-secondary;
}

.text-primary {
	color: $primary!important;
}


.ftco-navbar-light {
	background: transparent!important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	// padding-top: 30px;
	@include media-breakpoint-down(md) {
		background: $black!important;
		position: relative;
		top: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.container{
		width: 1110px;
		margin: 0 auto;
		padding: 0;
		@include media-breakpoint-up(lg){
		}
	}

	.navbar-brand {
		color: $white;
		padding-top: .7rem;
		padding-bottom: .7rem;
		&:hover, &:focus{
			color: $black !important;
		}
		@include media-breakpoint-down(md){
			color: $white;
		}
	}
	
	.navbar-nav {
		@include media-breakpoint-down(md){
			padding-bottom: 20px;
			// margin-left: 20px !important;
			margin-right: 0;
		}
		> .nav-item {
			> .nav-link {
				font-size: 12px;
				padding-top: .7rem;
				padding-bottom: .7rem;
				padding-left: 20px;
				padding-right: 20px;
				color: $white;
				font-weight: 400;
				opacity: 1!important;
				text-transform: uppercase;
				letter-spacing: 2px;
				span {
					position: relative;
					display: block;
					padding-bottom: 2px;
					@include media-breakpoint-down(lg){
						display: inline-block;
					}
					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: 0;
						left: 0;
						background: $primary;
						visibility: visible;
						-webkit-transform: scaleX(0);
						-moz-transform: scaleX(0);
						-ms-transform: scaleX(0);
						-o-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: all 0.3s ease-in-out 0s;
						-moz-transition: all 0.3s ease-in-out 0s;
						-ms-transition: all 0.3s ease-in-out 0s;
						-o-transition: all 0.3s ease-in-out 0s;
						transition: all 0.3s ease-in-out 0s;
					}
				}
				&:hover{
					span {
						&:before {
							visibility: visible;
							-webkit-transform: scaleX(1);
							-moz-transform: scaleX(1);
							-ms-transform: scaleX(1);
							-o-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 1rem;
					padding-top: 0;
					color: $white;
				}
			}
			
			&.cta {
				> a {
					color: $white;
					border: 1px solid $primary;
					padding-top: .7rem;
					padding-bottom: .7rem;
					padding-left: 18px;
					padding-right: 18px;
					background: $primary;
					margin-top: 0;
					@include border-radius(5px);
					span {
						display: inline-block;
						color: $white;
					}
					&:hover{
						background: $primary;
						border: 1px solid $primary;
					}
				}
				&.cta-colored {
					a{
						border: 1px solid $secondary;
						background: $secondary !important;
					}
				}
			}
			
				.nav-link {
					&.active {
					background: transparent;
					background: none;
					color: $primary;
					span {
						&:before {
							visibility: visible;
							-webkit-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
			}
			
			@include media-breakpoint-down(md){
				&.active {
					> a {
						color: $primary;
					}
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:hover, &:focus {
			text-decoration: none;
			color: $primary;
			outline: none !important;
		}
	}
	
	&.scrolled  {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		margin-top: -130px;
		background: $white!important;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		padding: 0 15px;
		.nav-item {
			> .nav-link{
				@include media-breakpoint-down(md){
					padding-left: 0 !important;
					padding-right: 0 !important;
					padding-bottom: 20px !important;
				}
			}
			&.active {
				> a {
					color: $primary!important;
				}
			}
			&.cta {
				> a {
					color: $white !important;
					background: $primary;
					border: none !important;
					padding-top: .5rem!important;
					padding-bottom: .5rem !important;
					padding-left: 20px !important;
					padding-right: 20px !important;
					margin-top: 5px !important;
					@include border-radius(5px);
					span {
						display: inline-block;
						color: $white !important;
					}
				}
				&.cta-colored {
					span {
						border-color: $primary;
					}
				}
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(md) {
				background: none;
				border-radius: 0px;
				padding-left: 0!important;
				padding-right: 0!important;
				margin-left: 0 !important;
			}
		}

		.navbar-toggler {
			border: none;
			color: rgba(0,0,0,.5)!important;
			border-color: rgba(0,0,0,.5)!important;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .1em;

		}
		.nav-link {
			color: $black!important;
			&.active {
				color: $primary!important;
			}
		}
		&.awake {
			margin-top: 0px;
			transition: .3s all ease-out;
		}
		&.sleep {
			transition: .3s all ease-out;	
		}

		.navbar-brand {
			color: $black;
			padding-top: 1rem;
			padding-bottom: 1rem;
			font-size: 24px;
			span{
				color: $primary;
			}
		}
	}
}

.navbar-brand {
	font-size: 40px;
	font-family: $font-tertiary;
	span{
		color: $primary;
	}
}


//OWL CAROUSEL
.owl-carousel {
	position: relative;
	.owl-item {
		opacity: .4;
		&.active {
			opacity: 1;
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: lighten($black, 90%);
			position: relative;
			&:after{
				position: absolute;
				top: -2px;
				left: -2px;
				right: 0;
				bottom: 0;
				width: 14px;
				height: 14px;
				content: '';
				border:1px solid rgba(255,255,255,.3);
				@include border-radius(50%);
			}	
			&:hover, &:focus{
				outline: none !important;
			}
			&.active {
				background: lighten($black, 70%);
			}
		}
	}
	&.home-slider {
		position: relative;
		height: 600px;
		z-index: 0;
		.slider-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 600px;
			position: relative;
			z-index: 0;
			@include media-breakpoint-down(lg){
				background-position: center center !important;
			}
			.overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: $black;
				opacity: .3;
			}
			.slider-text {
				height: 600px;
				@include media-breakpoint-down(sm){
					text-align: center;
				}

				.subheading{
					color: $white;
					font-weight: 400;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: 8px;
					margin-bottom: 20px;
					span{
						color: $white;
						position: relative;
						&:after{
							position: absolute;
							top: 49%;
							left: -170px;
							content: '';
							width: 150px;
							height: 1px;
							background: $white;
						}
						&:before{
							position: absolute;
							top: 49%;
							right: -170px;
							content: '';
							width: 150px;
							height: 1px;
							background: $white;
						}
						@include media-breakpoint-down(sm){
							&:before,&:after{
								display: none;
							}
						}
					}
				}
				.text{
					position: relative;
				}
				h1 {
					text-transform: uppercase;
					font-size: 44px;
					color: $white;
					line-height: 1.2;
					font-weight: 700;
					letter-spacing: 10px;
					font-family: $font-secondary;
					span{
						color: $primary;
						position: relative;
					}
					@include media-breakpoint-down(md) {
						font-size: 40px;
					}
				}
				p {
					font-weight: 400;
					font-size: 18px;
					line-height: 1.5;
					color: rgba(255,255,255,.9);
					font-family: $font-secondary;
				}
				//BREADCRUBS
				.breadcrumbs{
					text-transform: uppercase;
					font-size: 13px;
					letter-spacing: 1px;
					span{
						border-bottom: 2px solid rgba(255,255,255,.1);
						a{
							color: $white;
						}
					}
				}
			}
		}
		.owl-nav {
			position: absolute;
			top: 100%;
			width: 100%;
			.owl-prev,
			.owl-next {
				position: absolute;
				transform: translateY(-50%);
				margin-top: -10px;
				outline: none !important;
				@include transition(.3s);
				span {
					&:before {
						font-size: 30px;
						color: rgba(255,255,255,.5);
						@include transition(.3s);
					}
				}
				&:hover,&:focus{
					span{
						&:before{
							color: $white;
						}
					}
				}
				opacity: 0;
			}
			.owl-prev {
				left: 50%;
				margin-left: -80px;
			}
			.owl-next {
				right: 50%;
				margin-right: -80px;
			}
		}
		&:hover{
			.owl-nav{
				.owl-prev,
				.owl-next{
					opacity: 1;
				}
				.owl-prev {
					left: 50%;
					margin-left: -80px;
				}
				.owl-next {
					right: 50%;
					margin-right: -80px;
				}
			}
		}
		.owl-dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 60px;
			width: 100%;
			text-align: center;
			@include media-breakpoint-down(sm){
			}
			.owl-dot {
				width: 10px;
				height: 10px;
				margin: 5px;
				border-radius: 50%;
				background: $primary;
				&.active {
					background: $white;
				}
			}
		}
	}
} 


.hero-wrap{
	width: 100%;
	height: 100%;
	position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	@include media-breakpoint-down(md){
		background-position: top center !important;
	}
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: 0;
		background: $black;
		// @include gradient-background();
	}
	&.hero-wrap-2{
		height: 600px;
		position: relative;
		background-position: top center;
		.overlay{
			width: 100%;
			opacity: .3;
			background: $black;
		}
		.slider-text{
			height: 600px;
		}
	}
}

.slider-text{
	h1 {
		font-size: 48px;
		color: $white;
		line-height: 1.2;
		font-weight: 700;
		@include media-breakpoint-down(md) {
			font-size: 40px;
		}
	}
	p {
		font-size: 20px;
		line-height: 1.5;
		font-weight: 300;
		color: rgba(255,255,255,.8);
		strong{
			font-weight: 700;
			a{
				color: $black;
			}
		}
	}
	.breadcrumbs{
		font-size: 12px;
		margin-bottom: 20px;
		z-index: 99;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 4px;
		span{
			color: rgba(255,255,255,.8);
			i{
				color: rgba(255,255,255,.8);
			}
			a{
				color: rgba(255,255,255,1);
				&:hover, &:focus{
					color: $primary;
					i{
						color: $primary;
					}
				}
			}
		}
	}
	.bread{
		font-size: 70px;
		font-weight: normal;
		color: $white;
		font-family: $font-tertiary;
		span{
			color: $primary;
		}
	}
}


.bg-light {
	background: #f8f9fa!important;
}

.bg-primary{
	background: $primary;
}

.bg-darken{
	background: $darken;
}


//BUTTON
.btn {
	cursor: pointer;
	@include border-radius(30px);
	// box-shadow: none!important;
	-webkit-box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	box-shadow: 0px 24px 36px -11px rgba(0,0,0,0.09);
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background: $primary;
		border: 1px solid $primary !important;
		color: $white !important;
		&:hover {
			border: 1px solid $primary;
			background: $primary;
			color :$primary;
		}
		&.btn-outline-primary {
			border: 1px solid $primary !important;
			background: transparent !important;
			color :$primary !important;
			&:hover {
				border: 1px solid transparent !important;
				background: $primary !important;
				color :$white !important;
			}
		}
	}
	&.btn-secondary {
		background: $secondary !important;
		border: 1px solid $secondary !important;
		color: $white !important;
		&:hover {
			border: 1px solid $secondary !important;
			background: transparent !important;
			color :$secondary !important;
		}
		&.btn-outline-primary {
			border: 1px solid $secondary;
			background: transparent;
			color :$secondary;
			&:hover {
				border: 1px solid transparent;
				background: $secondary;
				color :$white;
			}
		}
	}
	&.btn-white {
		background: $white !important;
		border: 1px solid $white !important;
		color: $black !important;
		&:hover {
			border: 1px solid $black;
			background: $white !important;
			color :$white;
		}
		&.btn-outline-white {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 1px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
	&.btn-black {
		background: $black !important;
		border: 1px solid $black !important;
		color: $white !important;
		&:hover {
			border: 1px solid $primary;
			background: $primary !important;
			color :$white !important;
		}
		&.btn-outline-black {
			border: 1px solid $black;
			background: transparent;
			color :$black;
			&:hover {
				border: 1px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
}

//STAFF
.staff{
	overflow: hidden;
	@include transition(.3s);
	.img-wrap{
	}
	.img{
		width: 100%;
		height: 350px;
		display: block;
		margin: 0 auto;
		background-position: top center;
		@include transition(.3s);
	}
	.text{
		width: 100%;
		opacity: 1;
		color: rgba(0,0,0,.6);
		@include transition(.3s);
		> div{
			width: 100%;
			padding: 0 1em;
			@include transition(.3s);
		}
		h3{
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 0;
			@include transition(.3s);
		}
		.position{
			text-transform: uppercase;
			color: rgba(0,0,0,.5);
			display: block;
			letter-spacing: 1px;
			font-size: 12px;
			letter-spacing: 4px;
		}
		.faded{
			opacity: 1;
			width: 100%;
		}
	}
	.ftco-social{
		opacity: 1;
		@include transition(.3s);
		li{
			a{
				color: $black;
			}
		}
	}
}
.ftco-social{
	padding: 0;
	li{
		list-style: none;
		margin-right: 10px;
		display: inline-block;
	}
}


//SERVICES
.ftco-services{
	border: none;
	background: $primary;
	background: darken($primary,5%);
	.services{
		background: $white;
		padding: 40px 20px;
		background: $primary;
		-webkit-box-shadow: 0px 42px 29px -31px rgba(0,0,0,0.05);
		-moz-box-shadow: 0px 42px 29px -31px rgba(0,0,0,0.05);
		box-shadow: 0px 42px 29px -31px rgba(0,0,0,0.05);
		@include transition(.3s);
		&.services-2{
			background: darken($primary,5%);
		}
		.icon{
			line-height: 1.3;
			position: relative;
			margin-bottom: 20px;
			span{
				font-size:60px;
				color: $white;
			}
		}
		.media-body{
			color: rgba(255,255,255,.9);
			h3{
				font-size: 20px;
				font-weight: 700;
				color: $white;
			}
		}
	}
}

.ftco-services-2{
	.services{
		@include transition(.3s);
		.icon{
			line-height: 1.3;
			position: relative;
			margin-bottom: 20px;
			span{
				font-size:60px;
				color: $primary;
			}
		}
		.media-body{
			h3{
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
}

//SERMONS
.sermon-wrap{
	margin-bottom: 50px;
	.img{
		display: block;
		height: 450px;
		position: relative;
		z-index: 0;
		@include transition(.3s);
		@include border-radius(5px);
		&:after{
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			content: '';
			border: 1px solid rgba(255,255,255,.1);
			z-index: -1;
		}
		&:before{
			@include transition(.3s);
			position: absolute;
			top: 0;
			left: 0;
			left: 0;
			bottom: 0;
			content: '';
			-webkit-box-shadow: inset 0px -10px 137px 0px rgba(0,0,0,0.44);
			-moz-box-shadow: inset 0px -10px 137px 0px rgba(0,0,0,0.44);
			box-shadow: inset 0px -10px 137px 0px rgba(0,0,0,0.44);
			z-index: -1;
			width: 100%;
			height: 100%;
		}
		.text-content{
			z-index: 1;
			span{
				text-transform: uppercase;
				letter-spacing: 4px;
				font-size: 12px;
				color: $white;
			}
			h3{
				font-family: $font-tertiary;
				color: $white;
			}
			.btn-custom{
				border: 1px solid rgba(255,255,255,.4);
				@include border-radius(5px);
				color: $white;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 3px;
				@include media-breakpoint-down(md){
					display: block;
				}
				&:hover, &:focus{
					background: $primary;
					border: 1px solid $primary;
				}
			}
		}
	}
	.text{
		h2{
			font-size: 24px;
			font-weight: 400;
			a{
				color: $black;
			}
		}
	}
	.meta{
		span{
			font-family: $font-primary;
			font-size: 11px;
			margin-bottom: 15px;
			letter-spacing: 3px;
			text-transform: uppercase;
			a{
				color: rgba(0,0,0,.3)
			}
		}
	}
	&:hover,&:focus{
		.img{
			&:before{
				-webkit-box-shadow: inset 0px -10px 137px 0px rgba(0,0,0,0.77);
				-moz-box-shadow: inset 0px -10px 137px 0px rgba(0,0,0,0.77);
				box-shadow: inset 0px -10px 137px 0px rgba(0,0,0,0.77);
			}
		}
	}
}


//INTRO
.ftco-intro{
	height: 400px;
	position: relative;
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .3;
		background: $black;
		// @include gradient-background();
	}
}

.ftco-causes{
	position: relative;
	z-index: 1;
}

.donated-intro{
	z-index: 99;
	margin-bottom: -40px;
	h2{
		font-family: $font-primary;
		font-weight: 800;
		color: $white;
		span{
			color: $primary;
		}
		strong{
			color: $primary;
		}
	}
}

.ftco-to-top{
	@include media-breakpoint-up(lg){
		margin-top: -350px;
	}
}

.ftco-event{
	@include media-breakpoint-up(lg){
		.heading-section{
			.subheading{
				color: $white;
				&:after, &:before{
					background: rgba(255,255,255,.4);
				}
			}
			h2{
				color: white;
			}
		}
	}
}

//EVENT
.event-wrap{
	margin-bottom: 40px;
	.img{
		width: 100%;
	}
	.text{
		width: 100%;
		background: $white;
		border: 1px solid rgba(0,0,0,.1);
		border-left: none;
		border-top: none;
		@include media-breakpoint-up(lg){
			margin-top: -20px;
		}
		.time{
			background: $font-secondary;
			color: $white;
			margin-left: -35px;
			padding-left: 35px;
			padding-right: 10px;
			display: inline-block;
			margin-bottom: 20px;
			position: relative;
			&:after{
				position: absolute;
				bottom: -11px;
				left: 0;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 11px 11px 0;
				border-color: transparent darken($primary,15%) transparent transparent;

			}
		}
		h3{
			font-size: 18px;
			a{
				color: $black;
			}
		}
		.meta{
			p{
				font-family: $font-secondary;
				font-style: italic;
			}
		}
	}
}


.cause-entry{
	display: block;
	width: 100%;
	z-index: 0;
	margin-bottom: 30px;
	.img{
		height: 300px;
		display: block;
		width: 100%;
	}
	.text{
		background: $white;
		position: relative;
		h3{
			font-size: 18px;
			margin-bottom: 30px;
			font-weight: 700;
			a{
				color: $black;
			}
		}
		.donate{
			display: block;
			margin-bottom: 10px;
			&:last-child{
			}
			.price{
				font-weight: 700;
				font-size: 12px;
			}
			.target-goal{
				font-size: 12px;
			}
		}
	}
}
//PROGRESS BAR
.progress{
	height: 4px;
	box-shadow: none;
	background: lighten($black,94%);
	overflow: visible;
}
.progress-bar{
	background: $primary;
	box-shadow: none;
	font-size: 12px;
	line-height: 1.2;
	color: $black;
	font-weight: 600;
	position: relative;
	overflow: visible;
	@include border-radius(10px);
	&:after{
		position: absolute;
		top: -7px;
		right: 0;
		content: '';
		opacity: 1;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 4px 8px 4px;
		border-color: transparent transparent $primary transparent;
	}
	span{
		position: absolute;
		top: -22px;
		right: -5px;
		font-size: 12px;
		font-weight: 400;
	}
}

//DAILY VERSE
.ftco-daily-verse{
	position: relative;
	padding: 7em 0;
	z-index: 0;
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .6;
		background: $black;
	}
	.icon{
		span{
			color: $primary;
			font-size: 100px;
			font-weight: normal;
		}
	}
}
.daily-verse{
	overflow: hidden;
	z-index: 0;
	.subheading{
		font-family: $font-tertiary;
		display: inline-block;
		font-size: 30px;
		color: $white;
		margin-bottom: 15px;
	}
	h3{
		font-family: $font-secondary;
		font-style: italic;
		color: $primary;
		font-size: 18px;
	}
	h4{
		color: $white;
		font-size: 20px;
		font-style: italic;
		font-weight: 400;
		color: rgba(255,255,255,.8);
		span{
			color: rgba(255,255,255,.3);
		}
	}
}


.ftco-about-section{
	position: relative;
	.text-wrapper{
		height: 600px;
		width: 100%;
		@include media-breakpoint-down(sm){
			height: inherit;
		}
	}
	.one-half{
		width: 50%;
		@include media-breakpoint-down(sm){
			width: 100%;
			margin-left: 30px;
		}
		&.half-text{
			@include media-breakpoint-up(xl){
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 1140px;
				margin: 0 auto;
				.text-inner{
					max-width: 50%;
				}
			}
			.text-inner{
				h3.heading {
					font-size: 30px;
					margin-bottom: 20px;
					color: $black;
					font-weight: 700;
					span{
						color: $primary;
					}
				}
				ul{
					margin: 0;
					padding: 0;
					li{
						list-style: none;
						span{
							color: $primary;
						}
					}
				}
				.watchvideo-heading{
					margin-bottom: 0;
					font-size: 16px;
					font-weight: 300;
					a{
						color: $black;
					}
				}
			}
		}
	}
	.img{
		height: 600px;
		background: $primary;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		@include media-breakpoint-down(sm){
			margin-bottom: 20px;
		}
	}
}


// USEFUL CODE
.aside-stretch{
	background: lighten($primary,10%);
	&:after{
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		content: '';
		width: 360%;
		background: lighten($primary,10%);
		// background: #333644;
	}
	@include media-breakpoint-down(sm){
		background: transparent;
		&:after{
			background: transparent;
			display: none;
		}
	}
}


.form-control {
	height: 52px!important;
	background: $white!important;
	color: $black!important;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: none!important;
	&:focus, &:active {
		border-color: $black;
	}
}
textarea.form-control {
	height: inherit!important;
}
.ftco-vh-100 {
  height: 100vh;
  @include media-breakpoint-down(lg) {
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}

.ftco-animate {
	opacity: 0;
	visibility: hidden;
}

.bg-primary {
	background: $primary!important;
}


//ABOUT
.about-author{
	img{
	}
	.desc{
		h3{
			font-size: 24px;
		}
	}
	.bio{

	}
}


.ftco-section {
	padding: 7em 0;
	position: relative;
	@include media-breakpoint-down(sm){
		padding: 6em 0;
	}
}

.ftco-no-pt{
	padding-top: 0 !important;
}
.ftco-no-pb{
	padding-bottom: 0 !important;
}

.ftco-bg-dark {
	background: #3c312e;
}

//GALLERY
.ftco-gallery{
}
.gallery{
	display: block;
	height: 400px;
	position: relative;
	.icon{
		width: 60px;
		height: 60px;
		margin: 0 auto;
		z-index: 0;
		opacity: 0;
		position: relative;
		@include transition(.6s);
		background: $primary;
		@include border-radius(50%);
		span{
			color: $white;
		}
	}
	&:hover, &:focus{
		.icon{
			opacity: 1;
		}
	}	
}

.ftco-footer {
	font-size: 16px;
	background: $darken;
	padding: 7em 0;
	z-index: 0;
	position: relative;
	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			font-weight: normal;
			color: $white;
			margin-bottom: 40px;
			font-size: 22px;
			font-weight: 600;
			span{
				a{
					color: $primary;
					text-transform: uppercase;
				}
			}
		}
		ul{
			li{
				margin-bottom: 10px;
				a{
					color: rgba(255,255,255,.6);
					span{
						// color: $white;
						color: rgba(255,255,255,.6);
					}
				}
			}
		}
		.btn-primary{
			background: $white !important;
			border: 2px solid $white !important;
			&:hover{
				background: $white;
				border: 2px solid $white !important;
			}
		}
	}
	p {
		color: rgba($white, .7);
	}
	a {
		color: rgba($white, .7);
		&:hover {
			color: $primary !important;
		}
	}
	.ftco-heading-2 {
		font-size: 17px;
		font-weight: 400;
		color: $black;
		&.logo{
			font-family: $font-tertiary;
			font-size: 30px;
			span{
				color: $primary;
			}
		}
	}
	.opening-hours{
		p{
			font-size: 20px;
			font-family: $font-secondary;
			color: rgba(255,255,255,.3);
			font-style: italic;
		}
		span{
			display: block;
			color: $primary;
		}
	}
}


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 50px;
			width: 50px;
			display: block;
			float: left;
			background: rgba($white, .1);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $white;
			}
		}
	}
}
.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}
.media {
	.ftco-icon {
		width: 100px;
		span {
			color: $primary;
		}
	}
}


// Map

#map {
	height: 400px;
	width: 100%;
	@include media-breakpoint-down(sm) {
		height: 300px;
	}
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
    box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba($primary, 0);
      box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
      box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

.heading-section{
	.subheading{
		font-size: 12px;
		display: inline-block;
		margin-bottom: 5px;
		text-transform: uppercase;
		color: rgba(0,0,0,.3);
		letter-spacing: 8px;
		font-weight: 600;
		position: relative;
		&:after{
			position: absolute;
			top: 49%;
			left: -170px;
			content: '';
			width: 150px;
			height: 1px;
			background: rgba(0,0,0,.1);
		}
		&:before{
			position: absolute;
			top: 49%;
			right: -170px;
			content: '';
			width: 150px;
			height: 1px;
			background: rgba(0,0,0,.1);
		}
		@include media-breakpoint-down(sm){
			&:after, &:before{
				display: none;
			}
		}
	}
	h2{
		font-size: 40px;
		font-weight: 600;
		span.number{
			color: $primary;
		}

		@include media-breakpoint-down(sm){
			font-size: 28px;
		}
	}
	&.heading-section-white{
		.subheading{
			color: rgba(255,255,255,.9) !important;
			&:after,&:before{
				background: $white;
			}
		}
		h2{
			color: $white;
		}
		p{
			color: rgba(255,255,255,.9);
		}
	}
}

//COVER BG
.img,
.blog-img,
.user-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}





//TESTIMONY
.testimony-section{
	position: relative;
	background: $primary;
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .7;
		background: $darken;
		// @include gradient-background();
	}
	.owl-carousel{
		margin: 0;
	}
	.owl-carousel .owl-stage-outer{
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
	}
	.owl-nav {
		position: absolute;
		bottom: 60px !important;
		left: 0;
		right: 0;
		// max-width: 1200px;
		margin: 0 auto;
		@include media-breakpoint-down(md){
			display: none;
		}
		.owl-prev,
		.owl-next {
			position: absolute;
			width: 60px;
			height: 60px;
			background: $white !important;
			@include transition(.7s);
			span {
				&:before {
					font-size: 20px;
					margin-top: 7px;
					color: $black;
				}
			}
			opacity: 1;
		}
		.owl-prev {
			top: 0 !important;
			right: 0 !important;
			@include media-breakpoint-up(lg){
				right: 61px !important;
			}
			&:hover, &:focus{
				background: $black !important;
				outline: none !important;
				span {
					&:before {
						font-size: 20px;
						margin-top: 7px;
						color: $white;
					}
				}
			}
		}
		.owl-next {
			top: 0 !important;
			right: 0 !important;
			@include media-breakpoint-up(lg){
				right: 0 !important;
			}
			&:hover, &:focus{
				background: $black !important;
				outline: none !important;
				span {
					&:before {
						font-size: 24px;
						margin-top: 7px;
						color: $white;
					}
				}
			}
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: rgba(255,255,255,.3);
			&.active {
				background: $white;
			}
		}
	}
}
.testimony-wrap{
	display: block;
	position: relative;
	color: rgba(255,255,255,.7);
	.user-img{
		width: 130px;
		height: 130px;
		border-radius: (50%);
		position: relative;
		margin: 0 auto;
		background-position: top center;
		.quote{
			position: absolute;
			bottom: -10px;
			right: 0;
			width: 40px;
			height: 40px;
			background: transparent;
			border: 4px solid rgba(255,255,255,.4);
			i{
				color: $white;
			}
		}
	}
	.text{
		padding-top: 6em;
		margin-top: -65px;
		@include border-radius(4px);
	}
	p{
		font-size: 20px;
	}
	.name{
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 0;
		color: $white;
	}
	.position{
		font-size: 18px;
		color: rgba(255,255,255,.8);
	}
}

.about-image{
	@include media-breakpoint-down(sm){
		height: 400px;
		margin-bottom: 30px;
	}
}

.about-image{
	@include media-breakpoint-down(sm){
		height: 400px;
		margin-bottom: 30px;
	}
}


// magnific pop up

.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}




#section-counter{
	position: relative;
	z-index: 0;
	width: 100%;
	// border: 1px solid red;
	display: block;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';
		z-index: -1;
		opacity: 0;
		background: $black;
	}
	.container-fluid{
		overflow: hidden;
		padding: 0 !important;
	}
}
.ftco-counter {
	// padding: 6em 0;
	@include media-breakpoint-down(lg){
		background-position: center center !important;
	}
	.img{
		display: block;
		width: 100%;
		height: 100%;
		@include media-breakpoint-down(sm){
			height: 400px;
			background-position: top center !important;
		}
	}
	.desc{
		h3{
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: 2px;
			a{
				color: $white;
				border: 1px solid $white;
			}
		}
	}
	.block-18{
	}
	.text{
		strong.number{
			font-weight: 800;
			font-size: 30px;
			color: $black;
			font-family: $font-primary;
		}
		span{
			display: block;
			font-size: 16px;
			color: rgba(0,0,0,.7);
			margin-bottom: 10px;
			font-family: $font-secondary;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	.icon{
		width: 70px;
		height: 70px;
		margin: 0 auto;
		// background: lighten($primary,20%);
		@include border-radius(50%);
		span{
			font-weight: normal;
			color: darken($primary,5%);
			font-size: 48px;
		}
	}
	.counter-wrap{
		border-bottom: 1px solid rgba(0,0,0,.1);
		@include media-breakpoint-down(sm){
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(lg){
			border-top: 1px solid rgba(0,0,0,.1);
			border-left: 1px solid rgba(0,0,0,.1)	
		}
	}
}

//blocks 
.block-20 {
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	display: block;
	width: 100%;
	height: 350px;
	z-index: -1;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .3;
		background: rgba(0,0,0,0);
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(0,0,0,0)), color-stop(27%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	}
}
.blog-entry{
	position: relative;
	margin-bottom: 5em !important;
	z-index: 0;
	@include media-breakpoint-up(md){
		margin-bottom: 30px;
	}
	@include media-breakpoint-down(sm){
		margin-bottom: 30px;
	}
	.text {
		width: 100%;
		margin: 0 auto;
		padding-top: 15px;
		z-index: 1;
		.heading {
			font-size: 20px;
			margin-bottom: 16px;
			font-weight: 500;
			a {
				color: $black;
				&:hover, &:focus, &:active {
					color: $primary;
				}
			}
		}
	}
	.meta {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 0;
		font-size: 14px;
		a {
			color: lighten($black, 50%);
			font-size: 15px;
			&:hover {
				color: lighten($black, 40%);
			}
		}
	}
	.topp{
		position: absolute;
		top: 0;
		left: 0;
		padding:.5em 1em;
		display: inline-block;
		background: transparent;
		-webkit-box-shadow: 0px 42px 29px -31px rgba(0,0,0,0.05);
		-moz-box-shadow: 0px 42px 29px -31px rgba(0,0,0,0.05);
		box-shadow: 0px 42px 29px -31px rgba(0,0,0,0.05);
	}
	.one{
		// width: 90px;
	}
	.two{
		// width: calc(100% - 90px);
	}
	span.day{
		font-size: 50px;
		font-weight: 400;
		line-height: 1;
		color: $white;
	}
	span.yr,span.mos{
		display: block;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 500;
		color: rgba(255,255,255,1);
	}
}


.block-23 {
	ul {
		padding: 0;
		li {
			
			&, > a {
				display: table;
				line-height: 1.5;
				margin-bottom: 15px;
			}
			span{
				color: rgba($white, .7);
			}
			.icon, .text {
				display: table-cell;
				vertical-align: top;
			}
			.icon {
				width: 40px;
				font-size: 18px;
				padding-top: 2px;
				color: rgba($white, 1);
			}
			
		}
	}
}

.block-6 {
	.icon {
		span {
			&:before {
			}
		}
	}
	.media-body {
		.heading {

		}
		p {
			font-size: 16px;
		}
	}
} 

.block-27 {
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-bottom: 4px;
			font-weight: 400;
			a,span {
				color: $secondary;
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid lighten($black,80%);
			}
			&.active {
				a, span {
					background: $secondary;
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}



.contact-section {
	.img{
		width: 100%;
		background-position: top center;
	}
	.contact-info{
		p{
			a{
				color: $primary;
			}
			span{}
		}
	}
	.contact-form{
		width: 100%;
		.btn-primary{
			@include media-breakpoint-down(sm){
				display: block;
				width: 100%;
			}
		}
	}
	.box{
		width: 100%; 
		h3{
			font-size: 20px;
		}
		.icon{
			margin-top: 5px;
			span{
				color: $primary;
			}
		}
	}
}
.block-9 {

	.form-control {
		outline: none!important;
		box-shadow: none!important;
		font-size: 15px;
	}
	#map {
	}
}


//### .block-21
.block-21 {
	.blog-img{
		display: block;
		height: 80px;
		width: 80px;
	}
	.text {
		width: calc(100% - 100px);
		.heading {
			font-size: 18px;
			font-weight: 300;
			a {
				color: $black;
				&:hover, &:active, &:focus {
					color: $primary;
				}
			}
		}
		.meta {
			> div {
				display: inline-block;
				margin-right: 5px;
				a {
					color: lighten($black, 70%);
				}
			}
		}
	}
}

/* Blog*/
.post-info {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: $white;
	letter-spacing: .1em;
	> div {
		display: inline-block;

		.seperator {
			display: inline-block;
			margin: 0 10px;
			opacity: .5;
		}
	}
}

.tagcloud {
	a {
		text-transform: uppercase;
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 7px;
		margin-right: 4px;
		border-radius: 4px;
		color: $black;
		border: 1px solid #f2f2f2;
		font-size :11px;
		background: #f2f2f2;
		&:hover {
			border: 1px solid #000;
		}
	}
}

.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 20px;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: #ccc;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black, 90%);
				color: $black;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: .1em;
				font-weight: 400;
				border-radius: 4px;
				&:hover {
					color: $white;
					background: lighten($black, 0%);
				}
			}
		}
	}
}

.search-form {
	background: lighten($black, 95%);
	padding: 10px;

	.form-group {
		position: relative;
		margin-bottom: 0;
		input {
			padding-right: 50px;
			font-size: 14px;
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}


// sidebar

.sidebar-box {
	margin-bottom: 30px;
	padding: 25px;
	font-size: 15px;
	width: 100%;
	h3 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.heading-sidebar{
		font-weight: 500;
		margin-bottom: 20px;
	}
}

.categories, .sidelink {
	padding: 0;
	margin: 0;
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid gray('300');
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			color: lighten($black,10%);
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: $black;
				font-style: italic;
			}
		}
	}
}



#ftco-loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0; 
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#ftco-loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#ftco-loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}